@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast--error {
    border-radius: 4px !important;
    color: black !important;
    border: 1px solid #f05252 !important;
    background: linear-gradient(
        0deg,
        rgba(240,82,82,0.4),
        rgba(240,82,82,0.4)
    ),
    #ffffff !important;
}

.Toastify__toast--success {
    border-radius: 4px !important;
    color: black !important;
    border: 1px solid rgba(113, 191, 67, 1) !important;
    background: linear-gradient(
        0deg,
        rgba(113, 191, 67, 0.4),
        rgba(113, 191, 67, 0.4)
    ),
    #ffffff !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@keyframes rockBackAndForth {
    0%   {transform: rotate(0deg)}
    33%   {transform: rotate(8deg)}
    66%   {transform: rotate(-5deg)}
    100%   {transform: rotate(3deg)}
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #9cff95;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(123, 255, 97);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 187, 0);
  }